body {
	font-family: Arial, Helvetica, sans-serif;
}

h1 {
	color: #976808;
	border-color: #EB9D02;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-size: 200%;
	font-style: italic;
}

h2 {
	background: #364D86;
	color: white;
	padding: 5px;
	box-shadow: 8px 8px 8px grey;
	font-size: 120%;
}

h3 {
	color: #364D86;
	border-color: #869FDD;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-size: 120%;
}

h4 {
	color: #4d4d4d;
	border-color: lightgrey;
	border-bottom-width: 2px;
	border-bottom-style: solid;
	font-size: 100%;
}

code {
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 75%;
	background: lightgrey;
	padding: 3px;
	border-radius: 3px;
}

pre code {
	padding: 10px;
	margin-left: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;
	/* Preserve newlines */
	white-space: pre;
	/* These two ensure horizontal overflow causes a scrollbar. */
	overflow: auto;
	display: block;
}

img {
	/* Image will shrink to fit, but max out at actual size. */
	max-width: -moz-calc(100% - 20px);
	max-width: -webkit-calc(100% - 20px);
	max-width: calc(100% - 20px);

	margin: 10px;
}

a:link {
	color: #976808;
	text-decoration: none;
}

a:visited {
	color: #976808;
	text-decoration: none;
}

a:hover {
	color: blue;
	text-decoration: underline;
}

a:active {
	color: blue;
	text-decoration: underline;
}

table {
	border-collapse: collapse;
	box-shadow: 5px 5px 5px grey;
}

th, td {
	padding: 10px;
	border: 2px solid lightgrey;
}

th {
	background: lightgrey;
}

blockquote {
	border-left: solid darkgrey;
	border-width: 5px;
	padding: 0px 20px 0px 20px;
	margin: 0px 0px 0px 10px;
	font-style: italic;
}

